//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-block;
	padding: 0px 0px;
	background: $mainOrange;
	box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
	border-radius: 3px;
	font-weight: 600;
	font-size: rem(20);
	text-align: center;
	color: #fff;
	padding: rem(8) rem(52);
	line-height: math.div(32, 20);
	transition: box-shadow 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.63);
		}
	}
	&_border {
		background-color: #fff;
		border: 1px solid $mainOrange;
		color: $mainOrange;
		box-shadow: none;
	}
	&_black {
		background-color: #000;
		color: #fff;
		box-shadow: none;
		padding: rem(8) rem(30);
	}
}
