%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-arrow-buttom:before {
  content: "\e900";
}
._icon-cart:before {
  content: "\e901";
}
._icon-compare:before {
  content: "\e902";
}
._icon-favorite:before {
  content: "\e903";
}
._icon-footer-clock:before {
  content: "\e904";
}
._icon-footer-email:before {
  content: "\e905";
}
._icon-footer-location:before {
  content: "\e906";
}
._icon-footer-phone:before {
  content: "\e907";
}
._icon-location:before {
  content: "\e908";
}
._icon-logo:before {
  content: "\e909";
}
._icon-search:before {
  content: "\e90a";
}
._icon-spoller-arrow:before {
  content: "\e90b";
}
._icon-user:before {
  content: "\e90c";
}
._icon-back:before {
  content: "\e90d";
}
