.catalog {
  @include adaptiveValue("padding-bottom", 120, 40);
  // .catalog__container
  &__container {
  }
  // .catalog__body
  &__body {
    display: grid;
    align-items: start;
    gap: rem(30);
    @media (min-width: $tablet) {
      grid-template-columns: rem(375) 1fr;        
    }
  }
  // .catalog__filter
  &__filter {
  }
  // .catalog__content
  &__content {
  }
  // .catalog__control
  &__control {
    display: flex;
    justify-content: flex-end;
    &:not(:last-child) {
      margin-bottom: rem(20); 
    }
  }
  // .catalog__products
  &__products {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  // .catalog__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    @media (max-width: $mobile) {
      flex-direction: column; 
    }
  }
  // .catalog__more
  &__more {
  }
  // .catalog__pagging
  &__pagging {
  }
}
//====================================================================================================
.filter-catalog {
  background: #FEFEFE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  // .filter-catalog__title
  &__title {
    width: 100%;
    background-color: $mainDarkColor;
    font-weight: 700;
    font-size: rem(20);
    line-height: math.div(24, 20);
    padding: rem(20) rem(30);
    color: #fff;
  }
  // .filter-catalog__items
  &__items {
    @media (max-width: $tablet) {
      display: none;
      &._active {
        display: block;
      }
    }
  }
  // .filter-catalog__price
  &__price {
  }
}
.price-filter {
  padding: rem(30);
  // .price-filter__title
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    &::before {
      color: $mainOrange;      
      font-size: rem(8);
      transform: rotate(-180deg);
      transition: transform 0.3s ease 0s;
    }
    &._spoller-active {
      &::before {
        transform: rotate(0deg);        
      }
    }
  }
  // .price-filter__body
  &__body {
    padding: rem(30) 0px 0px 0px;
  }
  // .price-filter__inpunts
  &__inpunts {
    display: flex;
    border: 1px solid #cbcbcb;
    border-radius: rem(3);
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .price-filter__input
  &__input {
    width: 50%;
    height: rem(42);
    text-align: center;
    padding: 0px rem(15);
    &:not(:last-child) {
      border-right: 1px solid #cbcbcb;      
    }
  }
  // .price-filter__range
  &__range {
  }
}
.item-filter-catalog {
  // .item-filter-catalog__title
  &__title {
    background-color: $mainDarkColor;
    width: 100%;
    color: #fff;
    padding: rem(13) rem(30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    &::before {
      color: $mainOrange;      
      font-size: rem(8);
      transform: rotate(-180deg);
      transition: transform 0.3s ease 0s;
    }
    &._spoller-active {
      &::before {
        transform: rotate(0deg);        
      }
    }
  }
  // .item-filter-catalog__body
  &__body {
    padding: rem(30);
  }
  // .item-filter-catalog__checkbox
  &__checkbox {
    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }

}

//====================================================================================================