// Заголовки, общие БЄМ блоки и проче...

.page {
  // .page__products-slider
  &__products-slider {
  }
}
.products-slider {
  // .products-slider__container
  &__container {
  }
  // .products-slider__header
  &__header {    
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(20);
    }
  }
  // .products-slider__title
  &__title {
    letter-spacing: 0.05em;
    font-size: rem(30);
    font-weight: 700;
    line-height: math.div(46, 30);
  }
  // .products-slider__more
  &__more {
    color: rgba(20, 20, 20, 0.58);
    transition: color 0.3s ease 0s;
    font-weight: 600;
    font-size: rem(18);
    display: inline-flex;
    align-items: center;
    gap: em(15, 18);
    &::after{
      @extend %ic;
      content: "\e900";
      font-size: em(8, 18);
      transform: rotate(-90deg);
      color: $mainOrange;
    }
    @media (any-hover: hover){
      &:hover{
        color: rgba(20, 20, 20, 1);
      }
    }
  }
  // .products-slider__slider
  &__slider {
    padding: rem(15) rem(20);
    margin: 0px rem(-20);
  }
  // .products-slider__swiper
  &__swiper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }
  // .products-slider__slide
  &__slide {
  }
  // .products-slider__dotts
  &__dotts {
    transform: translate(0px, 10%);
  }
}
.product-card {
  background-color: #fff;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease 0s;
  position: relative;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    }
  }
  // .product-card__sale
  &__sale {
    position: absolute;
    top: rem(20);
    left: 0;
    color: #fff;
    background-color: $mainOrange;
    padding: rem(6) rem(22);
    z-index: 20;
    pointer-events: none;
  }
  // .product-card__image
  &__image {
    @include adaptiveValue("padding-top", 25, 15);
    @include adaptiveValue("padding-bottom", 25, 15);
    @include adaptiveValue("padding-left", 50, 15);
    @include adaptiveValue("padding-right", 50, 15);
  }
  // .product-card__item-image-ibg
  &__item-image-ibg {
    display: block;
    padding-bottom: percent(240, 270);

  }
  // .product-card__body
  &__body {
    padding: rem(20);
    display: flex;
    flex-direction: column;
  }
  // .product-card__title
  &__title {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
    &:not(:last-child) {
      margin-bottom: em(10, 20);
    }
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
  // .product-card__link-title
  &__link-title {
  }
  // .product-card__info
  &__info {
    &:not(:last-child) {
      margin-bottom: em(15, 16);
    }
  }
  // .product-card__rating
  &__rating {    
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: rem(26);
    }
  }
  // .product-card__footer
  &__footer {
    border-top: 1px solid rgba(20, 20, 20, 0.5);
    padding: rem(20) 0px;
    display: flex;
    align-items: center;
    gap: rem(15);
  }
  // .product-card__price
  &__price {
    flex: 1 1 auto;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
  }
  // .product-card__compare
  // .product-card__favorite
  &__compare,
  &__favorite {
    font-size: rem(24);
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        color: $mainOrange;
      }
    }
  }
  // .product-card__cart
  &__cart {
    width: 100%;
    span {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      &::before {
        margin: 0px 0px 0px rem(16);
      }
    }
  }
}
.info-product-card {
  color: #ababab;
  display: flex;
  justify-content: space-between;
  gap: rem(10);
  font-size: rem(16);
  // .info-product-card__size
  &__size {
  }
  // .info-product-card__materials
  &__materials {
    text-align: right;
  }
}
//====================================================================================================
.dotts {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin: 0px auto;
  overflow: hidden;
  .swiper-pagination-bullet {
    margin: 0px rem(7.5);
    cursor: pointer;
    height: rem(30);
    width: rem(18);
    position: relative;
    transition: all 0.3s ease 0s;
    &::after{
      content:'';
      height: rem(2);
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translate(0px, -50%);
      background-color: #898989;
    }
    &::before {
      content:'';
      background-color: $mainOrange;        
      width: rem(10);
      height: rem(10);
      top: 50%;
      left: 0;
      border-radius: 50%;
      transform: translate(0px, -50%);
      position: absolute;
      opacity: 0;
    }
  }
  .swiper-pagination-bullet-active {
    width: rem(30);
    &::after{
      background-color: $mainOrange;        
    }
    &::before {
      opacity: 1;
      transition: left 3s linear 0s;
      left: rem(20);
    }
  }
}
//====================================================================================================
.products-new {
  padding: rem(45) 0px 0px 0px;
  position: relative;
  background: url('@img/new-products/bg.jpg') bottom / cover no-repeat;
  &::before {
    content:'';
    background-color: #fff;
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
    width: percent(1300, 1920);
  }
  // .products-new__inner
  &__inner {
    @include adaptiveValue("padding-top", 55, 20);
    @include adaptiveValue("padding-bottom", 55, 20);
  }
  // .products-new__container
  &__container {
    display: grid;
    row-gap: 40px;
    @media (min-width: $tablet) {
      grid-template-columns: rem(400) 1fr;
      align-items: start;      
    }
  }
  // .products-new__body
  &__body {
    @include adaptiveValue("padding-right", 70, 20, 1630, 992, 2);
  }
  // .products-new__section
  &__section {
    position: relative;
    z-index: 2;
  }
  // .products-new__title
  &__title {
    font-weight: 700;
    font-size: rem(30);
    color: #fff;
    line-height: math.div(46, 30);
    &:not(:last-child) {
      margin-bottom: em(30, 30)
    }
  }
  // .products-new__text
  &__text {
    font-size: rem(18);
    line-height: math.div(27, 18);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 20);
    }
  }
  // .products-new__link
  &__link {
  }
  // .products-new__content
  &__content {
    min-width: 0;
    @media (min-width: $tablet) {
      padding: rem(37) 0px 0px 0px;        
    }
  }
  // .products-new__slider
  &__slider {
  }
  // .products-new__swiper
  &__swiper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
  }
  // .products-new__slide
  &__slide {
  }
  // .products-new__dotts
  &__dotts {
    // position: relative;
    // z-index: 3;
  }
}
//====================================================================================================
.link-arrow {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  color: $mainOrange;
  font-weight: 600;
  font-size: rem(20);
  &::before {
    margin: 0px 0px 0px em(20, 20);   
    transform: rotate(-90deg);
    font-size: rem(8);
  }
  @media (any-hover: hover){
    &:hover{
      span {
        text-decoration: underline;
      } 
    }
  }
}
//====================================================================================================
.breadcrumbs {
  white-space: nowrap;
  overflow: auto;
  height: rem(22);
  // .breadcrumbs__list
  &__list {
    display: flex;
  }
  // .breadcrumbs__item
  &__item {
  }
  // .breadcrumbs__link
  &__link {
    opacity: 0.5;
    display: flex;
    align-items: center;
    &::after{
      content: "\e900";
      @extend %ic;
      transform: rotate(-90deg);
      font-size: rem(6);
      margin: 0px em(10, 6);
    }
  }
  // .breadcrumbs__current
  &__current {
    color: $mainOrange;
  }
}
//====================================================================================================
.title {
  font-weight: 700;
  font-size: rem(24);
  line-height: math.div(29, 24);
  &:not(:last-child) {
    margin-bottom: em(25, 24);
  }
}
//====================================================================================================
.pagging {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include adaptiveValue("gap", 30, 15);
  // .pagging__arrow
  &__arrow {
    color: $mainOrange;
    &::before {
      font-size: rem(10);
      transform: rotate(-90deg);
    }
    &:disabled {
      color: rgba(0, 0, 0, 0.12);;
    }
    // .pagging__arrow_left
    &_left {
      transform: rotate(-180deg);
    }
    // .pagging__arrow_right
    &_right {
    }
  }
  // .pagging__list
  &__list {
    display: flex;
    align-items: center;
    gap: rem(13);
  }
  // .pagging__item
  &__item {
  }
  // .pagging__link
  &__link {
    width: rem(34);
    height: rem(34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &._active {
      background-color: $mainOrange;
      color: #fff;
    }
    @media (any-hover: hover){
      &:hover{
        background-color: $mainOrange;
        color: #fff;
      }
    }
  }
}
//====================================================================================================