.main-block {
  background: url("@img/mainpage/main-block/bg.jpg") center / cover no-repeat;
  @include adaptiveValue("padding-top", 40, 40);
  @include adaptiveValue("padding-bottom", 60, 40);
  // .main-block__container
  &__container {
  }
  // .main-block__body
  &__body {
    display: grid;
    align-items: start;
    row-gap: rem(40);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 43, 30);
    }
    @media (min-width: $tablet) {
      grid-template-columns: 1fr percent(635, 1600);        
    }
  }
  // .main-block__slider
  &__slider {
    margin: 0px rem(-30);
    padding: 0px rem(30);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .main-block__swiper
  &__swiper {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .main-block__slide
  &__slide {
  }
  // .main-block__media
  &__media {
  }
  // .main-block__advantages
  &__advantages {
  }
  // .main-block__controll
  &__controll {
  }
}

.controll-main-block {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: rem(20);
  // .controll-main-block__dotts
  &__dotts {
    display: inline-grid;
    grid-auto-flow: column;
    gap: rem(15);
    transform: translate(0px, 10%);
    .swiper-pagination-bullet {
      cursor: pointer;
      height: rem(30);
      width: rem(18);
      position: relative;
      transition: all 0.3s ease 0s;
      &::after{
        content:'';
        height: rem(2);
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0px, -50%);
        background-color: #fff;
      }
      &::before {
        content:'';
        background-color: $mainOrange;        
        width: rem(10);
        height: rem(10);
        top: 50%;
        left: 0;
        border-radius: 50%;
        transform: translate(0px, -50%);
        position: absolute;
        opacity: 0;
      }
    }
    .swiper-pagination-bullet-active {
      width: rem(30);
      &::after{
        background-color: $mainOrange;        
      }
      &::before {
        opacity: 1;
        transition: left 3s linear 0s;
        left: rem(20);
      }
    }
  }
  // .controll-main-block__fraction
  &__fraction {
    display: flex;
    color: #fff;
  }
}
.fraction-controll {
  display: flex;
  color: #fff;
  align-items: flex-end;
  font-weight: 600;
  letter-spacing: 0.2em;
  // .fraction-controll__current
  &__current {
    color: $mainOrange;
    font-size: rem(24);
  }
  // .fraction-controll__all
  &__all {
    font-size: rem(18);
  }
}

.slide-main-block {
  // .slide-main-block__content
  &__content {
    color: #fff;
    @media (min-width: $tablet) {
      padding: 0px rem(40) 0px 0px;        
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  // .slide-main-block__title
  &__title {
    font-weight: 700;
    letter-spacing: 0.03em;
    @include adaptiveValue("font-size", 36, 22, 992, 320, 1);
    line-height: math.div(46, 36);
    &:not(:last-child) {
      margin-bottom: em(15, 36);
    }
  }
  // .slide-main-block__sub-title
  &__sub-title {
    @include adaptiveValue("font-size", 36, 22, 992, 320, 1);
    line-height: math.div(46, 36);
    &:not(:last-child) {
      margin-bottom: em(30, 36);
    }
  }
  // .slide-main-block__text
  &__text {
    color: rgba(255, 255, 255, 0.7);
    @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
    line-height: math.div(30, 20);
  }
  // .slide-main-block__button
  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%; 
    }
  }
}
.media-main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(15);
  // .media-main-block__body
  &__body {
    position: relative;
  }
  // .media-main-block__image
  &__image {
    &::before {
      content:'';
      width: percent(423, 449);
      padding-bottom: percent(423, 449);
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      position: absolute;
      bottom: 3.5%;
      right: 0;
      transform: translate(percent(131, 423), 0px);      
    }
    img {
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
  }
  // .media-main-block__tips
  &__tips {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }
  // .media-main-block__tip
  &__tip {
    width: rem(20);
    height: rem(20);
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        transform: rotate(-180deg);
      }
    }
    &::before, 
    &::after {
      content:'';
      border-radius: 50%;
      background-color: $mainOrange;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &::after{
      opacity: 0.5;      
      transform: scale(1.6);
    }
    span {
      position: relative;
      z-index: 2;
      color: #fff;
      font-weight: 600;
      font-size: rem(20);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content:center;
      align-items: center;
    }
    // .media-main-block__tip_1
    &_1 {
      top: percent(186, 500);
      left: percent(72, 447);
    }
    // .media-main-block__tip_2
    &_2 {
      top: percent(57, 500);
      right: percent(13, 447);
    }
    // .media-main-block__tip_3
    &_3 {
      bottom: percent(115, 500);
      right: percent(28, 447);
    }
  }
}
.advantages-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: rem(20);
  justify-content: space-between;
  @media (max-width: $tablet) {
    gap: rem(30);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @media (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
  // .advantages-main__item
  &__item {
    display: inline-grid;
    gap: rem(17);
    text-align: center;
    max-width: rem(290);
    grid-template-rows: 77px auto;
  }
  // .advantages-main__icon
  &__icon {
    align-self: center;
  }
  // .advantages-main__text
  &__text {
    color: #fff;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(32, 20);
  }
}
//====================================================================================================
.catalog-cards {
  @include adaptiveValue("padding-top", 100, 40);
  @include adaptiveValue("padding-bottom", 70, 40);
  // .catalog-cards__container
  &__container {
    display: grid;
    gap: rem(30);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));        
    }
  }
  // .catalog-cards__item
  &__item {
  }
}
.item-catalog-cards {
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: rem(290);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);      
    }
  }
  // .item-catalog-cards__body
  &__body {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding", 30, 20);
  }
  // .item-catalog-cards__title
  &__title {
    &:not(:last-child) {
      margin-bottom: em(30, 24);
    }
  }
  // .item-catalog-cards__link-title
  &__link-title {
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 24);
    display: inline-block;
    &::after{
      content:'';
      width: rem(70);
      height: rem(2);
      display: block;
      margin: rem(15) 0px 0px 0px;
      background-color: $mainOrange;
      transition: width 0.8s ease 0s;
    }
    @media (any-hover: hover){
      &:hover{
        &::after{
          width: 100%;          
        }
      }
    }
  }
  // .item-catalog-cards__list
  &__list {
  }
  // .item-catalog-cards__item
  &__item {
    position: relative;
    padding: 0px 0px 0px rem(20);
    &::before {
      content:'';
      width: rem(6);
      height: rem(6);
      background-color: $mainOrange;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: em(8, 18);
    }
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .item-catalog-cards__link
  &__link {
    font-size: rem(18);
    line-height: math.div(24, 18);
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
  // .item-catalog-cards__image
  &__image {    
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translate(0px, 8%);
    img {
      max-width: 100%;
    }
    @media (min-width: $mobileSmall) {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;   
    }
  }
}
//====================================================================================================
.hits-products {
  @include adaptiveValue("padding-top", 50, 40);
  @include adaptiveValue("padding-bottom", 120, 40);
  &_no-top {
    padding-top: 0;
  }
}
.sale-products {
  @include adaptiveValue("padding-top", 120, 40);
  @include adaptiveValue("padding-bottom", 80, 40);
  &_no-bottom {
    padding-bottom: 0;
  }
}
//====================================================================================================
.articles-module {
  @include adaptiveValue("margin-bottom", 120, 40);
  // .articles-module__container
  &__container {
  }
  // .articles-module__title
  &__title {
    letter-spacing: 0.05em;
    font-size: rem(30);
    font-weight: 700;
    line-height: math.div(46, 30);
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }
  // .articles-module__items
  &__items {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
  }
  // .articles-module__item
  &__item {
  }
}
.item-article {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    }
  }
  // .item-article__image-ibg
  &__image-ibg {
    padding-bottom: percent(200, 376);
  }
  // .item-article__body
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding", 25, 15);
  }
  // .item-article__title
  &__title {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: em(16, 20);
    }
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
  // .item-article__link-title
  &__link-title {
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(34, 20);
  }
  // .item-article__date
  &__date {
    color: #ababab;
    font-size: rem(16);
    line-height: math.div(24, 16);
  }
}
//====================================================================================================
.products-block {
  @include adaptiveValue("margin-bottom", 120, 40);
  // .products-block__container
  &__container {
    display: grid;
    gap: rem(30);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));        
    }
  }
  // .products-block__item
  &__item {
  }
}
.product-block {
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  min-height: rem(290);
  transition: box-shadow 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);      
    }
  }
  // .product-block__body
  &__body {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding", 30, 20);
  }
  // .product-block__title
  &__title {
    &:not(:last-child) {
      margin-bottom: em(30, 24);
    }
  }
  // .product-block__link-title
  &__link-title {
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(34, 24);
    display: inline-block;
    &::after{
      content:'';
      width: rem(70);
      height: rem(2);
      display: block;
      margin: rem(15) 0px 0px 0px;
      background-color: $mainOrange;
      transition: width 0.8s ease 0s;
    }
    @media (any-hover: hover){
      &:hover{
        &::after{
          width: 100%;          
        }
      }
    }
  }
  // .product-block__text
  &__text {
    font-size: rem(18);
    line-height: math.div(27, 18);
    &:not(:last-child) {
      margin-bottom: em(46, 18);
    }
    @media (min-width: em(710)) {
      max-width: rem(265);    
    }
  }
  // .product-block__button
  &__button {
    @media (max-width: em(710)) {
      width: 100%;
    }
  }
  // .product-block__image
  &__image {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translate(0px, 8%);
    img {
      max-width: 100%;
    }
    @media (min-width: em(710)) {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;   
    }
  }
}