.product {
  // .product__container
  &__container {
  }
  // .product__main
  &__main {
    @include adaptiveValue("margin-bottom", 120, 40);
  }
  // .product__info
  &__info {
    @include adaptiveValue("margin-bottom", 120, 40);
  }
}
.main-product {
  display: grid;
  align-items: start;
  // .main-product__images
  &__images {
    @media (min-width: $tablet) {
      padding: 0px rem(30) 0px 0px;
    }
  }
  @media (min-width: $tablet) {
    grid-template-columns: percent(785, 1600) 1fr;    
  }
}
.images-product {
  display: grid;
  gap: rem(16);
  // .images-product__slider
  &__slider {
  }
  // .images-product__swiper
  &__swiper {
  }
  // .images-product__slide-ibg
  &__slide-ibg {
    padding-bottom: percent(577, 754);
  }
  // .images-product__thumbs
  &__thumbs {
  }
}
.thumbs-images {
  // .thumbs-images__swiper
  &__swiper {
  }
  // .thumbs-images__slide-ibg
  &__slide-ibg {
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease 0s;
    padding-bottom: percent(177, 754);
    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
//====================================================================================================
.body-product {
  background: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  @include adaptiveValue("padding", 30, 15);
  // .body-product__header
  &__header {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: 0px 0px rem(30) 0px;
  }
  // .body-product__table
  &__table {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: rem(30) 0px;
  }
  // .body-product__options
  &__options {
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    padding: rem(30) 0px;
  }
  // .body-product__actions
  &__actions {
    padding: rem(30) 0px 0px 0px;
  }
}
.header-product {
  // .header-product__line
  &__line {
    display: flex;
    column-gap: rem(30);
    row-gap: rem(15);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
    @media (max-width: $mobile) {
      flex-wrap: wrap; 
    }
  }
  // .header-product__title
  &__title {
    font-size: rem(24);
    font-weight: 700;
    line-height: math.div(29, 24);
    flex: 1 1 100%;
  }
  // .header-product__link
  &__link {
    font-size: rem(24);
  }
  // .header-product__rating
  &__rating {
  }
}
.table-product {
  display: grid;
  gap: rem(20);
  // .table-product__label
  &__label {
  }
  // .table-product__value
  &__value {
    color: rgba(20, 20, 20, 0.5);
  }
  @media (min-width: $mobile) {
    grid-template-columns: rem(200) 1fr;      
  }
}
.options-product {
  display: grid;
  gap: rem(20);
  // .options-product__label
  &__label {
    align-self: center;
  }
  // .options-product__value
  &__value {
  }
  @media (min-width: $mobile) {
    grid-template-columns: rem(200) 1fr;      
  }
}
.actions-product {
  // .actions-product__price
  &__price {
    font-size: rem(30);
    font-weight: 700;
    display: inline-block;
    line-height: math.div(37, 30);
    background: url('@img/icons/rub.svg') right no-repeat;
    padding: 0px rem(30) 0px 0px;
    &:not(:last-child) {
      margin-bottom: em(35, 30);
    }
  }
  // .actions-product__row
  &__row {
    display: flex;
    gap: rem(20);
    @media (max-width: em(1520)) {
      flex-direction: column;
    }
  }
  // .actions-product__quantity
  &__quantity {
  }
  // .actions-product__buttons
  &__buttons {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
    @media (min-width: em(1520)) {
      justify-content: flex-end;
    }
  }
  // .actions-product__cart
  &__cart {
    text-align: center;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      &::before {
        margin: 0px 0px 0px rem(20);
      }
    }
    @media (max-width: $mobile) {
      width: 100%; 
    }
  }
  // .actions-product__button
  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%; 
    }
  }
}
//====================================================================================================
.product-info {
  background: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: rem(10) rem(30) rem(30) rem(30);
  // .product-info__navigation
  &__navigation {
    display: flex;
    justify-content: flex-start;
    @include adaptiveValue("gap", 60, 30);
    border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    ._tab-spoller & {
      display: none;
    }
  }
  // .product-info__title
  &__title {
    font-size: rem(20);
    line-height: math.div(24, 20);
    color: rgba(20, 20, 20, 0.5);
    padding: rem(20) 0px;
    position: relative;
    ._tab-spoller & {
      width: 100%;
      border-bottom: 1px solid rgba(20, 20, 20, 0.15);
    }
    &._tab-active {
      font-weight: 700;
      color: #141414;
      &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -1px;
        left: 0;
        background-color: $mainOrange;
      }
    }
  }
  // .product-info__content
  &__content {
    padding: rem(30) 0 0 0;
  }
  // .product-info__body
  &__body {
    p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 27, 10);         
      }
    }
    ._tab-spoller & {
      padding: rem(30) 0;
    }
  }
}
//====================================================================================================